/* CSS reset */
*{
    margin:0px;
    padding:0px;
}
/* CSS variables */

/* Navigation Bar */
:root{
    --navbar-height:50px;
}
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}
/* logo and image */
#logo{
    margin:8px 15px;

}
#logo img{
    height:40px;
    margin:24px 20px;
}
/* list styling */
#navbar::before{
    content: "";
    background-color: black;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index:-1;
    position: absolute;
    opacity: 0.5;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size:1rem;
}
#navbar ul li a{
    display:block;
    padding:10px 7px;
    text-decoration: none;
    border-radius: 10px;
    color:white;
    font-family: 'Varela Round', sans-serif;
}
#navbar ul li a:hover{
    color:red;
    background-color: aqua;
}
/* home section */
#home::before{
    content: "";
    background: url("food.jpg") no-repeat center center/cover ;
    height: 100%;
    width:100%;
    z-index:-1;
    top:0px;
    left:0px;
    position: absolute;
    opacity: 0.7;

}
#home{
    display: flex;
    flex-direction: column;
    padding:3px 100px;
    justify-content: center;
    align-items: center;
    height: 440px;
}
#home h1{
    text-align: center;
    color:whitesmoke;
}
#home p{
    text-align: center;
    color: azure;
    font-size: 1rem;
    font-family: 'Varela Round', sans-serif;

}
/* services section */
#services{
    margin:35px;
    display: flex;
}
#services .box{
    border:2px solid burlywood;
    background-color: antiquewhite;
    margin: 14px 15px ;
    border-radius: 25px;
    padding:20px 20px;
}
#services img{
    height:150px;
    margin:auto;
    display: block;
}
#services .box p{
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}
.services h1{
    text-align: center;
}
/* client section */
#client-section::before{
    content: "";
    background: url("f.jpeg") no-repeat center center/cover ;
    height: 100%;
    width:100%;
    z-index:-1;
    position: absolute;
    opacity: 0.4;

}
#client-section{
    height:300px;
    position: relative;

}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height:140px;
    padding: 20px;
}
#item{
    padding: 50px;
}
/* contact section */
#contact{
    position:relative;
}
#contact::before{
    content: "";
    background: url("phone.png") no-repeat center center/cover ;
    height: 100%;
    width:100%;
    z-index:-1;
    position: absolute;
    opacity: 0.4;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px;
}
#contact-box input{
    width:100%;
    padding:1rem;
}
#contact-box textarea{
    width:100%;
    font-size: 1.1rem;
    
    border-radius: 10px;
}
#contact-box form{
    width:40%;
}
#contact-box form{
    font-size:1.2rem;
    font-family: 'Varela Round', sans-serif;

}
footer{
    background-color: black;
    color: aliceblue;
    padding:10px 20px;
    text-align: center;
}
/* utillity classes */
.primary{
  font-size: 3rem;  
  padding:10px;
  font-family: 'Varela Round', sans-serif;
  text-align: center;
}
.secondary{
    font-size: 2rem;  
    padding:10px;
    text-align:center;
    font-family: 'Varela Round', sans-serif;

}
.btn{
    padding:4px 20px;
    color: azure;
    border:2px solid white;
    background-color: black;
    margin:6px 15px;
    border-radius: 10px;
    cursor: pointer;
}