body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column;
    font-weight: bold;
    background-color: aqua;
}
.buttons{
    display: flex;
    justify-content: center;
    
}
button{
    background-color: red;
    border-radius: 5px;
    padding:10px;
    margin-right: 10px;
    font-size: 45px;
    border: none;
    cursor: pointer;
    
    
}
button:hover {
    opacity: 0.7;
}
h1{
    font-size: 30px;
}
#rock {
    background-color:yellow;
  }
  
  #paper {
    background-color: #2196f3;
  }
  
  #scissors {
    background-color: #ca4f1e;
  }
#user-score{
    color: green;
}
#computer-score {
    color: #ff0000;
  }