body{
    margin:0px;
    display: flex;
     min-height:100vh;      
     /* to align items vertically set min height */ 
    justify-content: center;
    align-items: center;
    background-color: pink;
    color:blueviolet
}
.maincontainer{
    background-color: rgb(235, 154, 207);
    padding: 25px;
    box-shadow: 5px 5px 5px 5px  rgb(186, 140, 170);
    min-width: 300px;
    max-width: 400px;
    width:85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}
.t h2{
    font-size: 30px;

}
.t{
    padding:12px;
    width: 100%;
    font-size: 18px;
}
.input{
    width:200px;
    float: right;
    /* //helps to sperate from label */
    padding: 4px;
    font-size:18px;
    color:blue;
}