body{
    background-color: aqua;
    color:black;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}
.container{
    border-radius: 10px;
    background-color: rgb(235, 238, 241);
    box-shadow:0 0 10px rgba(215, 24, 24);
    width:500px;
    padding: 20px;
    /* margin: 100px auto; */
}
h1{
    font-size: 35px;
    text-align: center;
}
.inner{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
input{
    
    padding: 8px;
    border-radius: 5px;

}
label{
    margin-bottom: 10px;
}
button{
    width:100%;
    margin-top: 10px;
    background-color: rgb(63, 177, 88);
    padding: 8px;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #07610c;
}
#result{
    font-weight: bold;
    margin-top: 10px;
}
  