*{
    margin: 0px;
    padding: 0px;
}
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}
/* logo and image */
#logo{
    margin:8px 15px;

}
#logo img{
    height:50px;
    margin:24px 20px;
}
/* list styling */
#navbar::before{
    content: "";
    background-color: rgb(106, 93, 165);
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index:-1;
    position: absolute;
    opacity: 0.5;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style: none;
    font-size:1rem;
}
#navbar ul li a{
    display:block;
    padding:10px 7px;
    text-decoration: none;
    border-radius: 10px;
    color:white;
    font-family: 'Varela Round', sans-serif;
}
#navbar ul li a:hover{
    color:red;
    background-color: aqua;
}
.home{
    margin:60px 0px;
    height:700px;
    background-color: aqua;
}
#homeitems{
    margin:55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#homeitems .box{
    border:2px solid rgb(87, 145, 155);
    background-color: rgb(177, 216, 186);
    margin: 20px 20px ;
    border-radius: 25px;
    padding:30px 30px;
}
#homeitems img{
    height:200px;
    margin:auto;
    display: block;
}
.primary{
    margin:20px auto;
    font-size: 50px;
    text-align: center;
    
}
.secondary{
    padding:10px;
    font-size: 30px;
    text-align: center;
} 
#homeitems a{
    padding:10px;

}
#homeitems li{
    padding:2px;
    font-size: 25px;
    list-style: none;


}
.electronics{
    margin:60px 0px;
    height:700px;
    background-color: aqua;
}
#eitems{
    margin:55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#eitems .box{
    border:2px solid rgb(87, 145, 155);
    background-color: rgb(177, 216, 186);
    margin: 20px 20px ;
    border-radius: 25px;
    padding:30px 30px;
}
#eitems img{
    height:200px;
    width:250px;
    margin:auto;
    display: block;
}
#eitems a{
    padding:10px;

}
#eitems li{
    padding:2px;
    font-size: 25px;
    list-style: none;


}
.clothing{
    margin:60px 0px;
    height:700px;
    background-color: aqua;
}
#citems{
    margin:55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#citems .box{
    border:2px solid rgb(87, 145, 155);
    background-color: rgb(177, 216, 186);
    margin: 20px 20px ;
    border-radius: 25px;
    padding:30px 30px;
}
#citems img{
    height:200px;
    width:250px;
    margin:auto;
    display: block;
}
#citems a{
    padding:10px;

}
#citems li{
    padding:2px;
    font-size: 25px;
    list-style: none;
}
#contact{
    position:relative;
    color:white;
}
#contact::before{
    content: "";
    background: url("phone.png") no-repeat center center/cover ;
    height: 100%;
    width:100%;
    z-index:-1;
    position: absolute;
    opacity: 1.4;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px;
}
#contact-box input{
    width:100%;
    padding:1rem;
    border: 2px solid black;
}
#contact-box textarea{
    width:100%;
    font-size: 1.1rem;
    border: 2px solid black;
   
    
    border-radius: 10px;
}
#contact-box form{
    width:40%;
}
#contact-box form{
    font-size:1.2rem;
    font-family: 'Varela Round', sans-serif;

}
.btn{
    display: flex;
    justify-content: flex-end;
    margin:20px;
}
button{
    background-color: red;
    width:90px;
    border-radius: 8px;
    border:2px solid red;
    cursor: pointer;
    color: white;
    padding: 5px 5px;
    transition: 0.4s ease-in;

}
button:hover{
    background-color: grey;
    color: black;
    border:2px solid red;
    transition: 0.4s ease-out;

}
.center{
    text-align: center;
    background-color: black;
    color: azure;
}
