.button{
    width:55px;
    padding: 20px;
    margin:0 3px;
    border-radius: 10px;
    border:2px solid blue;
    cursor: pointer;
}
html,body{
    height: 100%;
    width: 100%;
}
.row{
    margin:9px 0;
}
.input{
    width:250px;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;

}